* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #000;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
}

.center {
  padding-left: calc(50vw - 593px);
  padding-right: calc(50vw - 593px);
}

a {
  outline: none;
}

a, button {
  transition: 0.3s;
}

img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (max-width: 1200px) {
  .center {
    padding-left: calc(50vw - 360px);
    padding-right: calc(50vw - 360px);
  }
}
@media screen and (max-width: 767px) {
  .center {
    padding-left: calc(50vw - 195px);
    padding-right: calc(50vw - 195px);
  }
}
.nav__list {
  list-style: none;
  display: flex;
  gap: 15px;
}
@media screen and (max-width: 767px) {
  .nav__list {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    background: white;
    padding: 30px;
    transition: 0.3s;
    translate: -100% 0;
  }
}
.nav__link {
  text-decoration: none;
  color: #85aaab;
  font-size: 18px;
  font-weight: 700;
  position: relative;
}
.nav__link:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #63cdcf;
  scale: 0 1;
  transition: 0.3s;
}
.nav__link_active {
  color: #6de1e3;
}
.nav__link:hover, .nav__link:focus {
  color: #63cdcf;
}
.nav__link:hover:before, .nav__link:focus:before {
  scale: 1 1;
}
@media screen and (max-width: 767px) {
  .nav #open_menu:checked ~ .nav__list {
    translate: 0 0;
  }
  .nav #open_menu:checked ~ .nav__toggler span:nth-child(1), .nav #open_menu:checked ~ .nav__toggler span:nth-child(2), .nav #open_menu:checked ~ .nav__toggler span:nth-child(3) {
    top: 50%;
    rotate: 225deg;
  }
  .nav #open_menu:checked ~ .nav__toggler span:nth-child(2) {
    rotate: -225deg;
  }
}
.nav__toggler {
  display: none;
}
@media screen and (max-width: 767px) {
  .nav__toggler {
    display: block;
    width: 30px;
    height: 15px;
    position: relative;
  }
  .nav__toggler span {
    display: block;
    width: 100%;
    height: 3px;
    background: #2d5e5e;
    border-radius: 10px;
    position: absolute;
    translate: -50% -50%;
    left: 50%;
    transition: 0.5s;
  }
  .nav__toggler span:nth-child(1) {
    top: 0;
  }
  .nav__toggler span:nth-child(2) {
    top: 50%;
  }
  .nav__toggler span:nth-child(3) {
    top: 100%;
  }
}

@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat/Montserrat-Light.woff2") format("woff2"), url("../font/Montserrat/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat/Montserrat-Black.woff2") format("woff2"), url("../font/Montserrat/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat/Montserrat-Bold.woff2") format("woff2"), url("../font/Montserrat/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat/Montserrat-Medium.woff2") format("woff2"), url("../font/Montserrat/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat/Montserrat-Regular.woff2") format("woff2"), url("../font/Montserrat/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url("../font/Oswald/Oswald-Bold.woff2") format("woff2"), url("../font/Oswald/Oswald-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  position: absolute;
  width: 100%;
}

.offer {
  padding-top: 241px;
  padding-bottom: 161px;
  background-image: url("../img/photo to main offer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #a5a49f;
  color: #fff;
}
.offer__title {
  max-width: 454px;
  font-size: 48px;
  line-height: 1.5;
  margin: 0 0 55px;
}
@media screen and (max-width: 1200px) {
  .offer__title {
    font-size: 36px;
    max-width: 360px;
    margin-bottom: 36px;
  }
}
@media screen and (max-width: 767px) {
  .offer__title {
    font-size: 30px;
    text-wrap: balance;
  }
}
.offer__desc {
  font-size: 24px;
  line-height: 1.5;
  max-width: 325px;
  margin: 0 0 55px;
}
@media screen and (max-width: 1200px) {
  .offer__desc {
    font-size: 18px;
    margin-bottom: 36px;
    text-wrap: balance;
  }
}
@media screen and (max-width: 767px) {
  .offer__desc {
    font-size: 16px;
  }
}
@media screen and (max-width: 1200px) {
  .offer {
    padding-top: 150px;
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 767px) {
  .offer {
    background-image: none;
  }
}
.offer .btn {
  text-transform: uppercase;
}

.btn {
  cursor: pointer;
  background: #2D5E5E;
  border-radius: 10px;
  padding: 6px 42px;
  white-space: nowrap;
  display: inline-flex;
  min-width: 250px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.33;
  border: 3px solid transparent;
  font-family: Montserrat, sans-serif;
}
.btn:hover, .btn:focus {
  opacity: 0.7;
  border-color: #2D5E5E;
}
.btn:active {
  opacity: 0.4;
}
.btn_bordered {
  border-color: #2D5E5E;
  background: none;
}
.btn_bordered:hover {
  background: #2D5E5E;
}

.form__btn_0 {
  display: flex;
  justify-content: center;
  padding: 0 0 60px 0;
}

.form__btn {
  cursor: pointer;
  width: 250px;
  border: none;
  background: #2D5E5E;
  border-radius: 10px;
  padding: 8px 42px !important;
  white-space: nowrap;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.33;
}
.form__btn:hover, .form__btn:focus {
  opacity: 0.8;
}
.form__btn:active {
  opacity: 0.5;
}

.services {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding-top: 60px;
  padding-bottom: 37px;
}
.services__item {
  max-width: 300px;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .services__item {
    max-width: 100%;
  }
}
.services__icon {
  margin-bottom: 30px;
}
.services__title {
  font-size: 24px;
  line-height: 1.33;
  margin: 0 0 20px;
  color: #2D5E5E;
}
.services__description {
  font-weight: 500;
  line-height: 1.5;
}
@media screen and (max-width: 1200px) {
  .services {
    flex-direction: column;
  }
}

.about-me {
  background-image: url(../img/Rectangle.jpg);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
  color: #fff;
  padding-top: 60px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr 494px;
  grid-template-rows: auto 1fr auto;
  gap: 35px 50px;
}
.about-me__img {
  grid-row: 1/4;
  grid-column: 2/3;
}
@media screen and (max-width: 1200px) {
  .about-me__img {
    grid-column: unset;
    grid-row: 2/3;
  }
}
.about-me__title, .about-me__description {
  margin: 0;
  line-height: 1.5;
  font-weight: 700;
}
.about-me__title {
  margin-bottom: 15px;
  font-size: 36px;
}
.about-me__buttons {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .about-me__buttons {
    flex-direction: column;
  }
}
@media screen and (max-width: 1200px) {
  .about-me {
    grid-template-columns: 1fr;
  }
}

.form__input-wrap {
  border-radius: 10px;
  display: block;
  position: relative;
}
.form__input-wrap select, .form__input-wrap input, .form__input-wrap textarea {
  background: none;
  padding: 8px 20px;
  width: 100%;
  height: 100%;
  appearance: none;
  cursor: pointer;
}
.form__input-wrap_select:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url(../img/sort-down.svg) center no-repeat;
  position: absolute;
  top: 10px;
  right: 20px;
  pointer-events: none;
  transition: 0.5s;
}
.form__input-wrap_select:focus-within:before {
  transform: scale(1, -1);
}
.form__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  padding: 60px 0 50px 0;
}
.form__information {
  display: grid;
  grid-template-columns: 369px 372px;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 30px;
  justify-content: center;
}
.form__input {
  width: 369px;
  height: 40px;
  padding: 8px 178px 8px 20px;
  border-radius: 10px;
  border: 1px solid #000;
  font-family: Montserrat, sans-serif;
}
.form__input_1 {
  grid-column: 2/3;
  grid-row: 1/4;
  padding: 8px 178px 8px 20px;
  border-radius: 10px;
  border: 1px solid #000;
  font-family: Montserrat, sans-serif;
}
.form__input::placeholder, .form__input_1::placeholder {
  color: black;
}
.form__checkbox {
  display: block;
  text-align: center;
  padding: 40px 0;
  color: #2D5E5E;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.5;
}
.form__checkbox-label {
  position: relative;
  padding-left: 30px;
  color: #2D5E5E;
  user-select: none;
}
.form__checkbox-label:before, .form__checkbox-label:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.form__checkbox-label:before {
  background: #fff;
  border: 1px solid #2D5E5E;
  width: 13px;
  height: 13px;
}
.form__checkbox-label:after {
  background: #2D5E5E;
  width: 11px;
  height: 11px;
  top: 2px;
  left: 2px;
  display: none;
}
input:checked + .form__checkbox-label:after {
  display: block;
}

.statistic {
  background-image: url(../img/counter-bg.jpg);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
  padding: 60px 0;
}
.statistic__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 90px;
}
@media screen and (max-width: 1200px) {
  .statistic__container {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
@media screen and (max-width: 767px) {
  .statistic__container {
    grid-template-columns: 1fr;
    gap: 60px;
  }
}
.statistic__number, .statistic__title, .statistic__desc {
  text-align: center;
  color: #fff;
}
.statistic__number {
  font-size: 48px;
  font-weight: 900;
  line-height: 1.5;
  padding-bottom: 14px;
  font-family: "Montserrat" sans-serif;
}
.statistic__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33;
  padding-bottom: 20px;
}
.statistic__desc {
  font-weight: 500;
  line-height: 1.5;
}

.feedback__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 70px 0;
}
.feedback__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.5;
  padding: 60px 0 50px 0;
}
.feedback__article_0 {
  display: grid;
  grid-template-columns: 17px 1fr 17px;
  gap: 43px;
  align-items: center;
}
.feedback__button_prev {
  background-image: url(../img/Vector.svg);
  width: 17px;
  height: 31px;
  cursor: pointer;
}
.feedback__button_next {
  background-image: url(../img/Vector-1.svg);
  width: 17px;
  height: 31px;
  cursor: pointer;
}
.feedback__article {
  width: 600px;
  background: #ADDDDE;
}
@media screen and (max-width: 767px) {
  .feedback__article {
    width: 400px;
  }
}
.feedback__img {
  border-radius: 50%;
  height: 70px;
}
.feedback__article_1 {
  display: grid;
  grid-template-columns: 70px 142px;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 20px 0 30px 0;
}
.feedback__user {
  font-size: 18px;
  color: #2d5e5e;
  font-weight: 500;
  line-height: 1.33;
}
.feedback__desc {
  padding: 0 25px 20px 25px;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
}

.last-article {
  background-image: url(../img/counter-bg-1.jpg);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
}
.last-article__title {
  padding: 60px 0 54px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.5;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .last-article__title {
    width: 371px;
  }
}
.last-article__desc {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33;
  color: #fff;
  max-width: 334px;
  padding: 24px 0 60px 0;
}
@media screen and (max-width: 1200px) {
  .last-article__desc {
    padding: 24px 0 45px 0;
  }
}
@media screen and (max-width: 767px) {
  .last-article__desc {
    padding: 24px 0 30px 0;
  }
}
.last-article__img {
  max-width: 334px;
}
.last-article__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 84px;
}
@media screen and (max-width: 1200px) {
  .last-article__container {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
@media screen and (max-width: 767px) {
  .last-article__container {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.faq {
  padding-left: 55px;
  margin-bottom: 20px;
}
.faq__toggler {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 20px;
}
.faq__marker {
  display: block;
  background-image: url(../img/Vector-2.svg);
  width: 20px;
  min-width: 20px;
  height: 20px;
}
.faq__title {
  font-weight: 700;
  font-size: 24px;
  color: #000;
}
.faq__desc {
  font-weight: 500;
  line-height: 1.5;
  max-width: 900px;
}
.faq__content {
  padding-left: 38px;
  margin: 20px 0 40px 0;
  display: flex;
  align-items: center;
}
.faq[open] {
  margin-bottom: 40px;
}
.faq[open] .faq__marker {
  rotate: 45deg;
  color: #2d5e5e;
  transition: 0.2s;
}
.faq[open] .faq__title {
  color: #2d5e5e;
}
.faq[open] .faq__toggler {
  padding: 0;
}

.question__title {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.5;
  padding: 51px 0 78px 0;
}

.map-inform {
  height: 600px;
}
.map-inform__map {
  width: 100%;
  height: 600px;
}
.map-inform__contacts {
  width: 440px;
  background: #ADDDDE;
  position: relative;
  left: 828px;
  bottom: 465px;
}
@media screen and (max-width: 1200px) {
  .map-inform__contacts {
    left: 100px;
  }
}
@media screen and (max-width: 767px) {
  .map-inform__contacts {
    left: 25px;
    width: 350px;
  }
}
.map-inform__title {
  padding: 30px 0 20px 30px;
  font-size: 48px;
  color: #2d5e5e;
  font-weight: 700;
  line-height: 1.5;
}
.map-inform__link {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  line-height: 1.5;
}
.map-inform__desc {
  padding: 0 0 10px 30px;
}
.map-inform__desc:nth-last-child(1) {
  padding-bottom: 30px;
}

.entry__title {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.5;
  padding: 60px;
}
@media screen and (max-width: 1200px) {
  .entry__title {
    font-size: 45px;
  }
}
.entry__inform {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
}
@media screen and (max-width: 1200px) {
  .entry__inform {
    grid-template-columns: 1fr;
  }
}
.entry__input {
  border-radius: 10px;
  border: 1px solid #000;
  padding: 8px 178px 8px 20px;
  width: 365px;
  font-family: Montserrat, sans-serif;
}
@media screen and (max-width: 1200px) {
  .entry__input {
    width: 100%;
  }
}
.entry .form__checkbox {
  padding: 25px 0 60px 0;
  margin: 0;
  line-height: 2.5;
}
@media screen and (max-width: 767px) {
  .entry .form__checkbox {
    font-size: 14px;
  }
}

.footer {
  height: 190px;
  background: #2D5E5E;
  display: flex;
  align-items: center;
}
.footer__icon {
  color: #fff;
}
.footer .logo img {
  font-size: 0;
  padding-right: 50px;
}
.footer__inform {
  display: flex;
  align-items: center;
}
.footer__icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media screen and (max-width: 1200px) {
  .footer__icons {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 767px) {
  .footer__icons {
    grid-template-columns: 1fr;
  }
}
.footer__icon {
  padding-right: 10px;
}
.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  padding-right: 30px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
}

.slider {
  height: 260px;
  width: 600px;
  overflow: hidden;
}
.slider-container {
  width: 725px;
  display: flex;
  gap: 45px;
  align-items: center;
}
.slider-line {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: relative;
  left: 0;
  transition: all ease 1s;
}

.modal {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  opacity: 0;
  scale: 0;
}
.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 50px;
  background-color: lightblue;
  max-width: 500px;
  border-radius: 20px;
}
.modal__content h6 {
  font-size: 24px;
  margin: 0 0 20px;
}
.modal__content p {
  padding-bottom: 20px;
}

/*# sourceMappingURL=style.css.map */
