.btn {
    cursor: pointer;
    background: #2D5E5E;
    border-radius: 10px;
    padding: 6px 42px;
    white-space: nowrap;
    display: inline-flex;
    min-width: 250px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.33;
    border: 3px solid transparent;
    

    &_bordered {
        border-color: #2D5E5E;
        background: transparent;

        &:hover {
            background: #2D5E5E;
        }
    }
    
    &:hover,
    &:focus {
        opacity: .7;
    }
    &:active {
        opacity: .4;
    }
    
}



.form__btn_0 {
    display: flex;
    justify-content: center;
    padding: 0 0 60px 0;
}

.form__btn {
    cursor: pointer;
    width: 250px;
    border: none;
    background: #2D5E5E;
    border-radius: 10px;
    padding: 8px 42px !important; 
    white-space: nowrap;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.33;
    &:hover,
    &:focus {
        opacity: .8;
    }
    &:active {
        opacity: .5;
    }
}
