.faq {
    padding-left: 55px;
    margin-bottom: 20px;
    &__toggler {
        display: flex;
        align-items: center;
        gap: 16px;
        padding-bottom: 20px;
    }
    &__marker {
        display: block;
        background-image: url(../img/Vector-2.svg);
        width: 20px;
        min-width: 20px;
        height: 20px;
    }
    &__title {
        font-weight: 700;
        font-size: 24px;
        color: #000;
    }
    &__desc {
        font-weight: 500;
        line-height: 1.5;
        max-width: 900px;

    }
    &__content {
        padding-left: 38px;
        margin: 20px 0 40px 0;
        display: flex;
        align-items: center;
    }
    &[open] {
        margin-bottom: 40px;
        .faq {
            &__marker {
                rotate: 45deg;
                color: #2d5e5e;
                transition: .2s;
            }
            &__title {
                color: #2d5e5e;
            }
            &__toggler {
                padding: 0;
            }
        }
    }
}

.question {
    &__title {
        text-align: center;
        font-size: 48px;
        font-weight: 700;
        line-height: 1.5;
        padding: 51px 0 78px 0;
    }
}