.slider {
  height: 260px;
  width: 600px;
  overflow: hidden;

  &-container {
    width: 725px;
    display: flex;
    gap: 45px;
    align-items: center;
  }

  &-line {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: relative;
    left: 0;
    transition: all ease 1s;
  }
}